@model IEnumerable<AppStore.Models.VMTeacherCourse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageStudent.cshtml";
}

<h2>All Courses</h2>


   <div align="center">
    @foreach (var item in Model)
    {
        
        <div class="row">
            <div class="col-md-4 col-xl-4 col-sm-6">
                <div class="card1">
                    <div class="container1">
                        <h2><b>@item.CourseName </b></h2> 
                        <h3>@item.SemesterName </h3>
                        <h4>@item.TeacherName </h4>
                        @Html.ActionLink("Submit Project", "#", "#", new { cid = item.CID, sid = item.TID })<span>|</span> 
                        
                        @Html.ActionLink("View Detiles", "#", "#",new {})
                    </div>
                </div>
                <br /><br />
            </div>
        </div>
    }
   </div>

