@model IEnumerable<AppStore.Models.VMTeacherCourse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginRegLayoutPage.cshtml";
}

<h2>All Courses</h2>


   <div align="center">
    @foreach (var item in Model)
    {
        
        <div class="row">
            <div class="col-md-4 col-xl-4 col-sm-6">
                <div class="card1">
                    <div class="container1">
                        <h2><b>@item.CourseName </b></h2> 
                        <h3>@item.SemesterName </h3>
                        <h4>@item.TeacherName </h4>
                        <p>
                            @item.TID-@item.CID-@item.SID
                        </p>

                        @Html.ActionLink("Submit Project", "Submit", new { cid = item.CID, sid = item.SID,tid=item.TID })
                        <span>|</span>

                        @Html.ActionLink("View Detiles", "Insert", "Project")
                        

                    </div>
                </div>
                <br /><br />
            </div>
        </div>
    }
   </div>

