@using System.Web.UI.WebControls
@model AppStore.Models.ProjectViewModels

@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_LayoutPageStudent.cshtml";
}

<h2>Submit</h2>

@*"Submit","Student", FormMethod.Post, new {@enctype= "multipart/form-data"}*@

@using (Html.BeginForm("Submit","Student", FormMethod.Post, new {@enctype= "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.PName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PDetails, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PDetails, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PDetails, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectReport, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
           @Html.TextBoxFor(model => model.ProjectReport, new { type = "file" ,@name= "file1", htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.ProjectReport, "", new { @class = "text-danger" })

                @*<input type="file" name="Fil1" />*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProjectFile, new { type = "file", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectScreenshot1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.TextBoxFor(model => model.ProjectScreenshot1, new { type = "file", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectScreenshot1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectScreenshot2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProjectScreenshot2, new { type = "file", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjectScreenshot2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Url, new { htmlAttributes = new { PlaceHolder = "past ur project demo video URL", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @Html.HiddenFor(model=>model.Sid, Convert.ToInt32(Request.QueryString["sid"]))
        @Html.HiddenFor(model => model.Cid, Convert.ToInt32(Request.QueryString["cid"]))
        @Html.HiddenFor(model => model.Tid, Convert.ToInt32(Request.QueryString["tid"]))
       
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
