@model AppStore.Models.Tbl_File

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LoginRegLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Project.Pname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Project.Pname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Project.Pdetils)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Project.Pdetils)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ffile1)
        </dt>

        <dd>
            
            <a href="@Url.Content(Model.Ffile1)" target="_blank"> Downlode</a>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ffile2)
        </dt>

        <dd>
            <a href="@Url.Content(Model.Ffile2)" target="_blank"> Downlode</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>

        <dd>
            
            <img src="@Url.Content(Model.Photo1)" width="200" height="200" />
            <a href="@Url.Content(Model.Photo1)" target="_blank">down</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Photo2)" width="200" height="200" />
            <a href="@Url.Content(Model.Photo2)" target="_blank">down</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
