@using System.Web.UI.WebControls
@model IEnumerable<AppStore.Models.Tbl_File>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginRegLayoutPage.cshtml";
}

<section style=" margin-top: 50px; margin-bottom: 50px">
    @using (Html.BeginForm("Search", "Project", FormMethod.Post))
    { 
    
    <div class="form-control" style="text-align: center">
        Project name : <input type="text" id="pname" name="pname" />
        <input type="submit" id="submitId" value="Search" />
    </div>
    
    }
</section>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Project.Pname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Project.Pdetils)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{

    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Project.Pname)
        </td>
        <td> 
            @Html.DisplayFor(modelItem => item.Tbl_Project.Pdetils)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id = item.FID })
            
        </td>
    </tr>
}

</table>
